<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225566911088-fcvhurs3e1o5916hovt5di3k10rdc4aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225566911088-fcvhurs3e1o5916hovt5di3k10rdc4aq</string>
	<key>API_KEY</key>
	<string>AIzaSyAE1JvHRLiEm4sG6M7VTfJFrmazOxoZzXc</string>
	<key>GCM_SENDER_ID</key>
	<string>225566911088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>brave-cccec</string>
	<key>STORAGE_BUCKET</key>
	<string>brave-cccec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225566911088:ios:b443e49d8760f1b6e222b5</string>
</dict>
</plist>